.venv/
__pycache__/
sim/spotMicroAI_code.py
sim/robot_mania_code.py
sim/old_methods.txt
sim/
sim/old_methods.py
sim/old_methods_.py
sim/kinematics_new.py
sim/gait_controller_sim_new.py
sim/pybullet_sim_new.py

